@import 'config/setup.scss';
@import 'config/variables.scss';
@import 'config/mixins.scss';
@import '../assets/hero/style.css';
@import '../../features/billboardBalloonCard/ui/billboardBalloonCard.scss';

#root {
  height: 100%;
}

html, body {
  font-family: 'Hero Light Regular', sans-serif !important;
  height: 100%;
  background-color: $bg-primary;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}
