.form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 30px;

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 28px;
    align-self: start;
    max-width: 750px;
  }

  .btn-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    align-self: end;
  }
}
