.type {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 22px;

  &--title {
    font-family: 'Hero Light Bold', sans-serif;
    font-size: 20px;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    gap: 13px;

    li {
      .checkbox {
        span {
          padding-left: 0;
        }
      }
    }
  }
}
