.button {
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #35B44A;
  border-radius: 14px;
  font-family: 'Hero Light Bold', sans-serif;
  transition: all 0.2s ease-in-out;

  &--contained {
    background-color: #35B44A;
    color: #fff;
    box-shadow: 0 4px 21.2px 0 #14501E80;

    &:hover {
      background-color: #287939;
    }
  }

  &--outlined {
    color: #000;
    font-size: 15px;

    &:hover {
      background-color: #35B44A;
      color: #fff;
    }
  }
}
