.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @media screen and (max-width: $breakpoint-xl){
      grid-template-columns: repeat(2, 1fr);
    }

    button {
      font-family: 'Hero Light Regular', sans-serif;
      //transform: scale(1);
    }
  }
}
