.detailed-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  .month-range-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 38.8px 0 #35B44A4D;
    border-radius: 20px;

    .title {
      font-family: 'Hero Light Bold', sans-serif;
      font-size: 17px;
    }
  }

  .prices-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
