.radio-wrapper {
  display: flex;
  align-items: center;
}

.radio-input {
  display: none;

  &:checked ~ .radio-label .radio-box {
    border-color: #4a4a4a;
  }

  &:checked ~ .radio-label .icon {
    opacity: 1;
    transform: scale(1);
  }
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 9px;
}

.radio-box {
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s ease;

  &:hover {
    border-color: #999999;
  }
}

.icon {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #000000;
}
