.skeleton-loader {
  --skeleton-color: #e0e0e0;
  --shimmer-color: #f5f5f5;

  width: 100%;
  border-radius: 20px;

  background-color: var(--skeleton-color);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    90deg,
                    transparent,
                    var(--shimmer-color),
                    transparent
    );
    animation: shimmer 1.5s infinite ease-in-out;
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
