.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 11px;
  padding: 17px 22px;

  .title {
    font-family: 'Hero Light Bold', sans-serif;
    font-size: 20px;
  }

  .btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
