.image-wrapper {
  width: 100%;
  height: 100%;
  min-height: 220px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: 0.2s box-shadow;
  }

  .side-btn {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 6px 10px;
    font-family: 'Hero Light Bold', sans-serif;
    font-size: 15px;
    color: #35B44A;
    top: 0;
    right: 0;
    transform: translate(-10px, 10px);
    box-shadow: 0 4px 35px 0 #35B44A80;
  }
}
