.info {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 0 110px 37px;
  box-shadow: 0 4px 45.7px 0 #35B44A66;
  border-radius: 20px;
  border: 1px solid #35B44A;

  transition: scale 0.3s ease-in-out;

  &:hover {
    scale: 1.02;
  }

  .heading {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #35B44A;
    margin: 0 -110px;
    padding: 36px 83px;
    font-family: 'Hero Light Bold', sans-serif;
  }
}
