.filters {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 100%;
  right: 0;
  position: absolute;
  padding: 50px 40px;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  gap: 23px;
  border-left: 1.5px solid rgba(0, 0, 0, 0.1);

  .btn-group {
    display: grid;
    gap: 21px;
    grid-template-columns: repeat(2, 1fr);
  }

  &--show {
    transform: translateX(0);
  }

  .title {
    font-family: 'Hero Light Bold', sans-serif;
    font-size: 25px;
    align-self: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .month-filter {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .month-title {
        font-family: 'Hero Light Bold', sans-serif;
        font-size: 20px;
      }
    }
  }
}

