.nav {
  width: 100%;
  height: 106px;
  padding: 15px;

  .divider {
    border-bottom: 1px solid #373737;
    padding-top: 32px;
    margin: auto calc(-1 * $container-padding);

    @media (max-width: $breakpoint-lg) {
      margin: auto -100px;
    }

    @media (max-width: $breakpoint-md) {
      margin: auto -50px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    .wrapper {
      display: flex;
      align-items: center;
      gap: 11px;
    }

    .right {
      gap: 45px;
    }

    .account {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    .cart {
      position: relative;
      display: flex;
      gap: 5px;
      align-items: center;

      &-count {
        position: absolute;
        transform: translate(-40%, -30%);
        left: 100%;
        background-color: #35B44A;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}

.bot-sad-logo {
  height: 45px;
  cursor: pointer;
}
