.cart {
  display: flex;
  flex-direction: column;
  gap: 65px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .count {
      font-weight: 600;
      font-size: 20px;
      color: #373737B2;
    }
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .total-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    .total-text {
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.empty {
  font-weight: 500;
  font-size: 20px;
  align-self: center;
}
