.cart {
  display: flex;
  flex-direction: column;
  gap: 65px;
  font-family: 'Hero Light Bold', sans-serif;
  height: 100%;

  .heading {
    display: flex;
    align-items: center;
    gap: 15px;

    .count {
      font-size: 20px;
      color: #373737B2;
    }
  }

  .cart-items {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .divider {
      border-bottom: 1px solid #373737;
      display: none;

      @media screen and (max-width: 940px) {
        display: block;
      }
    }

    @media screen and (max-width: 940px) {
      gap: 35px;
    }
  }

  .total-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    button {
      padding-left: 57.5px;
      padding-right: 57.5px;
    }

    .total-text {
      font-size: 30px;
    }
  }
}

.empty {
  font-size: 20px;
  align-self: center;
}
