.info-card {
  font-family: 'Hero Light Bold', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  box-shadow: 0 7px 38.8px 0 #35B44A66;
  border-radius: 20px;
  padding: 20px;
  height: 100%;

  .info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-self: start;
  }

  .price {
    font-size: 20px;
  }

  span {
    font-size: 15px;
  }

  .status--available {
    color: #35B44A;
  }

  .status--unavailable {
    color: #E40101;
  }

  .tags {
    display: flex;
    flex-direction: column;
    gap: 11px;

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
