.filters {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 11px;
  padding: 10px 22px;
  gap: 15px;
  overflow: auto;

  .reset-btn {
    color: #373737B2;
    font-family: 'Hero Light Bold', sans-serif;
    font-size: 15px;
    align-self: end;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .month-filter {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .month-title {
        font-family: 'Hero Light Bold', sans-serif;
        font-size: 20px;
      }
    }
  }
}

