.balloon-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 21px;
  box-sizing: border-box;
  background: #fff;
  align-items: center;
}

.balloon-card__image-wrapper {
  width: 100%;
  min-height: 220px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balloon-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: 0.2s box-shadow;
}

.balloon-card__side-btn {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: 'Hero Light Bold', sans-serif;
  font-size: 15px;
  color: #35B44A;
  top: 0;
  right: 0;
  transform: translate(-10px, 10px);
  box-shadow: 0 4px 35px 0 #35B44A80;
}

.balloon-card__info {
  font-family: 'Hero Light Bold', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: start;
}

.balloon-card__price {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.balloon-card__info span,
.balloon-card__info p
{
  font-weight: 500;
  font-size: 15px;
}

.balloon-card__button-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.balloon-card__button {
  padding: 10px 14px;
  font-size: 13px;
  border: 1px solid #35B44A !important;
  border-radius: 14px;
  font-family: 'Hero Light Bold', sans-serif;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.balloon-card__button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.balloon-card__button--contained {
  background-color: #35B44A;
  color: #fff;
  box-shadow: 0 4px 11.2px 0 #124C1C80;
}

.balloon-card__button--contained:hover {
  background-color: #287939;
}

.balloon-card__button--outlined {
  color: #000;
  background: #fff;
}

.balloon-card__button--outlined:hover {
  background-color: #35B44A;
  color: #fff;
}

.status--available {
  color: #35B44A;
}

.status--unavailable {
  color: #E40101;
}

.skeleton {
  --skeleton-color: #e0e0e0;
  --shimmer-color: #f5f5f5;

  width: 100%;
  border-radius: 20px;

  background-color: var(--skeleton-color);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--shimmer-color),
      transparent
    );
    animation: shimmer 1.5s infinite ease-in-out;
  }
}

.skeleton--img {
  height: 220px;
}

.skeleton--info {
  height: 175px;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
