.balloon-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  align-items: center;
}

.balloon-card__image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 300px;
}

.balloon-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: 0.2s box-shadow;
}

.balloon-card__info {
  font-family: 'Instrument Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: start;
}

.balloon-card__price {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.balloon-card__info span {
  font-weight: 500;
  font-size: 15px;
}

.balloon-card__button-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.balloon-card__button {
  padding: 10px 14px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #35B44A;
  border-radius: 14px;
  font-family: 'Instrument Sans', sans-serif;
  background: #fff;
  cursor: pointer;
}

.balloon-card__button--contained {
  background-color: #35B44A;
  color: #fff;
  border: none;
}

.balloon-card__button--outlined {
  color: #000;
  background: #fff;
}
