.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 38.8px 0 #35B44A66;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Hero Light Bold', sans-serif;
  font-size: 24px;
  min-height: 240px;

  p {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      gap: 5px;
      max-width: 340px;
    }
  }
}
