.side-menu-wrapper {
  display: flex;
  align-items: flex-start;
  z-index: 10;
  position: absolute;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  max-width: 452px;

  @media (max-width: $breakpoint-xl) {
    max-width: 310px;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 9px;
    height: 100%;
    gap: 6px;
  }

  .side-btn {
    white-space: nowrap;
    position: absolute;
    font-family: "Hero Light Bold", sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    border: 1px solid #9D9D9D;
    padding: 5px 9px;
    border-radius: 8px;
    margin-top: 8px;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid #35B44A
    }

    &--show {
      border: 1px solid #35B44A;

      &:hover {
        border: 1px solid #9D9D9D;
      }
    }
  }
}

