.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;


  &__visible {
    opacity: 1;
    pointer-events: all;
  }

  .content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    max-width: 465px;
    background: white;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
    box-shadow: 0 4px 35px 0 #35B44A80;
    // before anim
    opacity: 0;
    transform: scale(0.8);
  }
}
